<div class="container">
  <div class="text-center">
    <h1 class='mt-5'>Taks Details</h1>
    <div class="card m mx-auto mt-4" style="width: 18rem;">
    <div class="card-body">
      <h2 class="card-title"><%= @task.title %></h2>
      <h6 class="card-text"><%= @task.details %></h6>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>